*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 100px 8px;
}